.logo{
    width: 400px;
    height: 66px;
    object-fit: cover;
}

.bg{
    width:1920px;
    height:1282px;
}

@keyframes scaleIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
    
.animate-scaleIn {
    animation: scaleIn 0.2s ease-out;
}